@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,200;1,100&display=swap'); /* importer depuis https://fonts.google.com */


body

{
    background-color: bisque;
    font-size: 20px;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    
}

#bloc_page 

{
    position: relative;
    width: 1097px;
    margin-left: 650px;
}

h1

{
    text-align: center;
}

img

{
    width: 500px;
    height: 400px;
    margin-left: 300px;
}

ul

{
    margin-left: -45px;
}

li 

{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sommaire

{
    text-align: center;
}

.p1 

{
    text-align: center;
}

.p2 

{
    text-align: center;
}

.p3

{
    text-align: center;
}